<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Titillium+Web&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navb navbar1">
            <a class="navbar-brand" href="index.php">
                <img
                    src="../image/logo.png" alt="logo" width="100px"></a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Cruis</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        
            <div class="test">
            <img class="img" src="../image/back1.jpg" alt="">
        </div>
            <div class="para" >
                <p>ShipCruiseTour est une compagnie de croisière imaginative qui
                    offre une large gamme de forfaits de croisière de luxe pour
                    les
                    voyageurs du monde entier. Nous proposons des itinéraires
                    vers
                    les destinations les plus populaires de la planète, comme
                    les
                    îles tropicales, les villes côtières historiques et les
                    destinations de ski. <br>

                    Notre flotte de navires de croisière de premier ordre est
                    équipée de tout le confort et les commodités que vous pouvez
                    attendre d'une croisière de luxe, y compris des cabines
                    spacieuses, des restaurants de haute qualité, des piscines,
                    des
                    centres de fitness, des spas et des centres de
                    divertissement.
                    Notre équipe de professionnels expérimentés se fera un
                    plaisir
                    de vous accueillir à bord et de s'assurer que votre voyage
                    de
                    croisière est inoubliable. Nous offrons également une
                    variété
                    d'excursions et d'activités sur chaque escale pour vous
                    permettre de découvrir les merveilles de chaque destination.
                    <br>

                    Si vous êtes à la recherche d'une expérience de croisière de
                    luxe inoubliable, ne cherchez pas plus loin que
                    ShipCruiseTour.
                    Contactez-nous dès maintenant pour en savoir plus sur nos
                    forfaits de croisière et réserver votre voyage de rêve.
                </p>
            </div>
        </div>


        <style>
            nav{
                background: linear-gradient(to bottom, #00ced1, #ffffff);
            position: fixed;
        }
    nav ul{
        margin-right: 5%;
    }
    nav ul li {
    margin-right:20px;
    font-size: x-large;}
    .img{
        opacity: 30%;
        width: 100%;
        height: 86vh;
        object-fit: cover;
       
    }
    .test{
        background-color: rgba(0, 0, 0, 0.8);
        height: 90vh;
        width: 100%;
    }
    .para{
        font-weight:bold;
        position: absolute;
        top: 180px;
        left: 20px;
        font-size: larger;
        color: #ffffff;
        width: 40%;
    }
</style>
    </body>
</html>