

            body{
                box-sizing: border-box;
                
            }
            nav{
                background: linear-gradient(to bottom, #00ced1, #ffffff);
                opacity: 80%;
                width: 100%;
                z-index: 100;
                
                
        }
        .pub{
            overflow: hidden;
        }
        .pic{
            font-weight:bold;
            font-size: larger;
            color: white;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/winter.jpg);
            /* background-image: url('../image/winter.jpg'); */
            background-size: cover;
            width: 100%;
        }
    nav ul{
        margin-right: 5%;
    }
    nav ul li {
    margin-right:20px;
    font-size: x-large;}
    .description{
        width: 100%;
        height: 86vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/back1.jpg);
        background-size: cover;
        backface-visibility: 30%;




    }
    .contact{
        color: white;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/contactUs.jpg);
        background-size: cover;
    }
    footer{
        background: linear-gradient(to bottom, #ffffff, #00ced1);
        width: 100%;
        
    }

    .para{
        font-weight:100;
        position: absolute;
        top: 180px;
        left: 10px;
        font-size: larger;
        color: #ffffff;
    }
    .banner {
      background-image: url('./banner.jpg');
      background-size: cover;
      height: 300px;
    }
    .promotion {
      background-color: #FECE44;
      padding: 20px;
      margin-bottom: 20px;
    }
    .service{
        width: 100%;
        height: fit-content;
        height: fit-content;
        background: url(../image/ship-273622.jpg);
        background-size: cover;
        width: 100%;
    }
